@model LockLock.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/profile.css" />
<link rel="stylesheet" href="~/css/user.css" />
@* <link rel="stylesheet" href="~/css/all.css" /> *@
<script src="~/js/profile.js"></script>

@Html.Partial("Navbar", new NavbarModel{name= @Model.Firstname,surname= @Model.Lastname,
isUser=@Model.role == "user"?true:false })

<div class="container">
    <div class="contain600">
        <h1 class="topic-color text-center topOfContent">My Profile</h1>
        <div class="flexProfile">
            <img src="~/img/defaultProfile.png" alt="defaultProfile">
            <p class="profile-top">@Model.Firstname @Model.Lastname</p>
        </div>
        <p class="profile-text">Name: <n>@Model.Firstname</n>
        </p>
        <p class="profile-text">Surname: <n>@Model.Lastname</n>
        </p>
        <p class="profile-text">Telephone Number: <n>@Model.Tel</n>
        </p>
        <p class="profile-text">Email: <n>@Model.Email</n>
        </p>
        <div class="flexProfileButton">
            <button type="button" class="btn btn-warning btn-profile"><a asp-action="updateUser"
                    class="profileA">Edit</a></button>
        </div>
        @* <a asp-action="changePassword" class="profileAC">Change Password</a> *@
        <a onclick="jsRequest()" class="profileAC">Change Password</a>
    </div>
</div>